<div class="main-form">
  <!--    <mat-stepper #stepper>-->
  <!--      <mat-step [formGroupName]="i" *ngFor="let customerGroup of formGroup.controls.form.controls; let i = index">-->
  <!--        <ng-template matStepLabel>Step {{i + 1}}</ng-template>-->
  <!--        <mat-form-field>-->
  <!--          <input matInput placeholder="Address" formControlName="cont" required>-->
  <!--        </mat-form-field>-->
  <!--        <div>-->
  <!--          <button mat-button matStepperPrevious>Back</button>-->
  <!--          <button mat-button matStepperNext>Next</button>-->
  <!--        </div>-->
  <!--      </mat-step>-->
  <!--    </mat-stepper>-->
  <div *ngIf="isLoaded else loading">
    <div style="height: 300px">
      <div *ngIf="!result else testCompleted">
        <form (ngSubmit)="onSubmit()" [formGroup]="form">

          <div *ngFor="let question of questions" class="form-row">
            <app-personality-test-question [question]="question" [form]="form"></app-personality-test-question>
          </div>

          <div class="form-row submit-test">
            <button mat-button color="primary" [disabled]="!form.valid">Finish test</button>
          </div>
        </form>
      </div>
      <ng-template #testCompleted>
        <strong>{{result}}</strong>
      </ng-template>
    </div>
  </div>

  <ng-template #loading>
    <div>Loading...</div>
  </ng-template>
</div>
